# Environnements virtuels
venv/
.venv/
env/

# Fichiers d'environnement
.env
.env.local

# Cache Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# ChromaDB (base vectorielle persistante)
chroma_db/

# Autres
.DS_Store
*.zip
Master1/
*.log
